@charset "UTF-8";
/* CSS Document */

html {
 	 scroll-behavior: smooth;
 	height: 100%;
  font-size: 16px;

	}	
	
	body{
	width: auto;
	margin: 0;
	font-family: -apple-system, Arial, sans-serif;
	font-style: normal;
	line-height: 1.4;
	font-size: 1rem;
}
	
.main {
 	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;

	}	
	
.indent {
	padding-left: 0px;
	}
	

.lorem{
	font-size: .8rem;
	
}
	
/* TOP AND BOTTOM NAVIGATION BAR */
	
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
		color: black;
		padding-left: 20px;
		padding-right: 20px;
  z-index: 1;

}

	
	.navbartitle{
		padding-left: 5px;
	}

.navbarbottom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
		color: black;
		padding-left: 20px;
		padding-right: 20px;
  z-index: 1;

}
	
/* ----- */
	
.small {
font-size: 80%;
color: #b5b5b5;
text-decoration: none;
	}

	.small:hover{
color: black;
  transition: 0.5s;
	}
	
	
	a {
color: black;
  text-decoration: underline;
}
	
a:hover {
  text-decoration: none;
color: #b5b5b5;
  transition: 0.5s;
}

.italic_link{
 color: black;
  text-decoration: none;
font-style: italic;
}

.invisible_link{
  text-decoration: none;
}
	
.invisible_link:hover {
  text-decoration: none;
color: #b5b5b5;
  transition: 0.5s;
}
	/* IMAGE DISPLAY */
	
	
.image-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.image-container img {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.click-text {
  cursor: pointer;
}

/* Additional styling for demonstration purposes only */
.image-link { 	
font-size: 80%;
color: #b5b5b5;
}

.image-link:hover { 
color: black;
  transition: 0.5s;

}

	.invisible{
		display: none;
	}

td {
  vertical-align: top;
	padding-bottom: 10px;
}

.number{
	width: 50px;
	text-align: left;
}

table{
 border-collapse: collapse;
}

/* Hide the content by default */
.content {
  display: none;
	width: 350px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: .8rem;
}

/* Style the title to look clickable */
.title {
  cursor: pointer;
	text-decoration: none;
}

.title:hover{
  text-decoration: none;
color: #b5b5b5;
  transition: 0.5s;
}


/* Show the content when the title is clicked */
.title.active {
 color: #b5b5b5;
text-decoration: none;
}

.title.active:hover {
 color: black;
text-decoration: none;
}
.title.active + .content {
  display: block;
}

