@charset "UTF-8";
/* CSS Document */

@font-face {
font-family: 'FreeSans';
src: url('/font/BadDogSCapsSSKBold.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

*{
	font-style: normal;
	line-height: 1.45;
	font-weight: 400;
}

	body{
	width: auto;
	margin: 0;
}
	
.main {
 	padding-top: 25px;
	padding-left: .5rem;
	padding-right: .5rem;

	}

	
/* TOP AND BOTTOM NAVIGATION BAR */
	
.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
		color: black;
		padding-left: 10px;
		padding-right: 10px;
  z-index: 1;

}
	
	.navbartitle{
		padding-left: 5px;
	}

.navbarbottom {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
		color: black;
		padding-left: 20px;
		padding-right: 20px;
  z-index: 1;

}	
	
	a {
color: black;
text-decoration: underline;
}
	
a:hover {
  text-decoration: none;
color: #b5b5b5;
}


	/* IMAGE DISPLAY */
	
	
.image-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.image-container img {
  max-width: 80%;
  max-height: 80%;
  display: block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.click-text {
  cursor: pointer;
}

/* Additional styling for demonstration purposes only */
.image-link { 	
	font-size: 13px;
color: #b5b5b5;
}

.image-link:hover { 
color: black;
}

	.invisible{
		display: none;
	}

td {
  vertical-align: top;
  padding-bottom: 0;
}

.number{
	padding-right: .5rem;
	text-align: left;
}

table{
 border-collapse: collapse;
}

/* Hide the content by default */
.content {
  display: none;
	width: 350px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
}

/* Style the title to look clickable */
.title {
  cursor: pointer;
	text-decoration: none;
}

.title:hover{
  text-decoration: none;
color: #b5b5b5;
}


/* Show the content when the title is clicked */
.title.active {
 color: #b5b5b5;
text-decoration: none;
}

.title.active:hover {
 color: black;
text-decoration: none;
}
.title.active + .content {
  display: block;
}

